<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.castingmob" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <application
        android:name=".CastingMobApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity
            android:name=".ui.activity.OpeningScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.HomeScreenActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"/>

        <activity android:name=".ui.activity.NewHomeScreenActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"/>

        <activity android:name=".ui.activity.DetailActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.activity.NewHomeScreenActivity"
                  android:launchMode="singleTop"/>

        <activity android:name=".ui.activity.NewsFeedActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:parentActivityName=".ui.activity.HomeScreenActivity"/>

        <activity android:name=".ui.activity.FilterActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:parentActivityName=".ui.activity.HomeScreenActivity"/>

        <activity android:name=".ui.activity.SearchCastingActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:label=""
                  android:parentActivityName=".ui.activity.HomeScreenActivity"/>

        <activity android:name=".ui.activity.FilterCastingActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:parentActivityName=".ui.activity.SearchCastingActivity"/>

        <activity android:name=".ui.activity.CastingDetailActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:label=""
                  android:parentActivityName=".ui.activity.SearchCastingActivity"/>

        <activity android:name=".ui.activity.SendMessageActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:label=""
                  android:parentActivityName=".ui.activity.CastingDetailActivity"/>

        <activity android:name=".ui.activity.OwnCastingActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:label=""
                  android:parentActivityName=".ui.activity.HomeScreenActivity"/>

        <activity android:name=".ui.activity.AddCastingActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:label=""
                  android:parentActivityName=".ui.activity.OwnCastingActivity"/>

        <activity android:name=".ui.activity.AppliedCastingActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:label=""
                  android:parentActivityName=".ui.activity.HomeScreenActivity"/>

        <activity android:name=".ui.activity.MessageActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:label=""
                  android:parentActivityName=".ui.activity.NewHomeScreenActivity"/>

        <activity android:name=".ui.activity.LocationFilterActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:parentActivityName=".ui.activity.NewHomeScreenActivity"/>

        <activity android:name=".ui.activity.EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.NewHomeScreenActivity"/>
    </application>

</manifest>
